<html>
    <head>

    </head>
    <body>
        <form method="post" action="/editwarna/<%= id %>">
            edit : <input type="text" name="warna" placeholder="editwarna"> &nbsp
            <input type="Submit" value="Submit">
        </form>
    </body>
</html>