<html>
    <head>

    </head>
    <body>
        <h1>EDIT NAMA SEASON<h1>
        <form method="post" action="/editseason/<%= id %>">
            edit : <input type="text" name="editseason" placeholder="editseason"> &nbsp
            <input type="Submit" value="Submit">
        </form>
    </body>
</html>