<html>
    <head>

    </head>
    <body>
    <h1>EDIT CATEGORY</h1>
        <form method="post" action="/editcategoryseason/<%= id %>">
            category season : <input type="text" name="editcategoryseason" placeholder="editproduct"> &nbsp<br>
            <input type="Submit" value="Submit">
        </form>
    </body>
</html>