<html>
    <head>

    </head>
    <body>
        <form method="post" action="/editsize/<%= id %>">
            edit : <input type="text" name="size" placeholder="size"> &nbsp
            edit : <input type="text" name="stock" placeholder="stock">
            <input type="Submit" value="Submit">
        </form>
    </body>
</html>