<html>
    <head>

    </head>
    <body>
        <form method="post" action="/editproduct/<%= id %>">
            nama product : <input type="text" name="namaproduct" placeholder="editproduct"> &nbsp<br>
            harga : <input type="text" name="harga" placeholder="editharga"><br>
            describ :<input type='text' textarea cols='70' rows='3' name="describ" placeholder="describ"></textarea> <br>
            <input type="Submit" value="Submit">
        </form>
    </body>
</html>